body {
  margin: 0;
  font-family: sans-serif;
  background: #fff;
  user-select: none;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.circle-main {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
  color: white;
  position: absolute;
  transition: transform 0.3s ease;
}
.circle-main:hover{
    transform: scale(1.5);
}
.goal {
  background: #e87b6b;
  top: 20%;
  left: 28%;
}
.reality {
  background: #3d3d3d;
  top: 20%;
  right: 28%;
}
.options {
  background: #b3dcd4;
  bottom: 20%;
  left: 28%;
  color: black;
}
.will {
  background: #f2c94c;
  bottom: 20%;
  right: 28%;
  color: black;
}
.center-circle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 2px solid #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); /* scale добавлен */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    position: absolute;
    cursor: default;
}
  
.center-circle:hover{
  transform: translate(-50%, -50%) scale(1.5); /* комбинируем */
}  
.side-labels {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dot-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.dot-label:hover{
    transform: scale(2);
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.goal-labels {
  position: absolute;
  top: 20%;
  left: 20%;
}
.options-labels {
  position: absolute;
  bottom: 20%;
  left: 20%;
}
.reality-labels {
  position: absolute;
  top: 20%;
  right: 20%;
  text-align: right;
}
.will-labels {
  position: absolute;
  bottom: 20%;
  right: 20%;
  text-align: right;
}